
body, html {
	height: 100%;
	background-color: transparent;
}

#mainOuterDiv {
	width: 100%;
	height: 100%;
	background-color: black;
}
#mainDiv {
	width: 94%;
	height: 90%;
	background-color: transparent;
	position: relative; 
	top: 5%; 
	left: 3%;
}

#mapDiv {
	width: 100%; 
	height: 100%;
	position: absolute; 
	background-image: url(bg_clear.jpg); 
	background-size: 100% 100%; 
	opacity: 1;
}

#mapDivImage {
	position: absolute; 
	width: 16%; 
	height: 10%;
	left: -1%;
}

#localTimeSpan {
	color: green; 
	text-align: center;
	position: absolute; 
	top: 3%; 
	left: 84%;
	width: 15%; 
	height: 8%;
	font-family: DigitalDismay;
	border: 2px solid darkgreen;
	/*border-style: dashed;*/
	border-radius: 20%;
}

#svgDiv {
	width: 100%; 
	height: 100%;
	position: absolute;
}
#tableDiv {
	width: 46%;

	/*height: 26%;*/
	position: absolute;
	/*top: 75%;*/
	bottom: 2%;
	left: 35%;
	/*height: 30%;*/
	border: 2px solid darkgreen;
	border-radius: 10%;
}

#tableData{
	height: 120px;
}

ul {
	list-style-type: none;
	width:100%;
	padding-left: 0px;
}

.th1 {
	float: left;
	width: 25%;
}
.th2 {
	float: left;
	width: 25%;
}
.th3 {
	float: left;
	width: 25%;
}
.th4 {
	float: left;
	width: 25%;
}

#tableDiv .panel{
	margin-bottom: 0px;
	background-color: transparent;
}

#tableDiv .panel-heading{
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: 300;
	font-family: DigiGraphics;
	color: green;
	font-size: 100%;
	border-bottom: 2px solid darkgreen;
}

#tableDiv .panel-body{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 70%;
	font-family: DigiGraphics;
	color: green;
}

@font-face { font-family: DigitalDismay; src: url('Font/Digital Dismay/Digital Dismay.otf'); }
@font-face { font-family: digital-7; src: url('Font/digital-7/digital-7.ttf'); }
@font-face { font-family: DIGITALDREAM; src: url('Font/DIGITALDREAM/DIGITALDREAM.ttf'); }
@font-face { font-family: DigiGraphics; src: url('Font/DigiGraphics/DigiGraphics.ttf'); }
@font-face { font-family: TickingTimebombBB; src: url('Font/TickingTimebombBB/TickingTimebombBB.ttf'); }
