
body, html {
	height: 100%;
	background-color: transparent;
}

#mainOuterDiv {
	width: 100%;
	height: 100%;
	background-color: black;
}
#mainDiv {
	width: 94%;
	height: 90%;
	background-color: transparent;
	position: relative; 
	top: 5%; 
	left: 3%;
}

#mapDiv {
	width: 100%; 
	height: 100%;
	position: absolute; 
	background-image: url(bg_blue.jpg);
	background-size: 100% 100%; 
	opacity: 1;
}

#mapDivImage {
	position: absolute; 
	width: 16%; 
	height: 10%;
	left: -1%;
}

#localTimeSpan {
	color: #00b7f0;
	text-align: center;
	position: absolute; 
	top: 3%; 
	left: 84%;
	width: 15%; 
	height: 8%;
	font-family: DigitalDismay;
	border: 2px solid #00b7f0;
	/*border-style: dashed;*/
	border-radius: 20%;
}

#svgDiv {
	width: 100%; 
	height: 100%;
	position: absolute;
}

/*rgb(0,183,240)*/
/*rgb(0,186,245)*/

#chartDiv {
	width: 20%;
	height: 28%;
	position: absolute;
	bottom: 6%;
	left: 2%;
	border: 2px solid #00b7f0;
	/*border: 2px solid #3F793C;*/
	border-radius: 20% 20% 20% 20%;
	font-family: TickingTimebombBB;
}

#Source {
	width: 100%;
	height: 12%;
	position: absolute;
	top: 0%;
	/*font-family: digital-7;*/
	font-size: large;
	font-weight: 100;
	color: #00b7f0;
	text-align: center;
	/*background-color: #00a8c6;*/
}
#Flag {
	width: 8%;
	height: 11%;
	background-image: url(USA.png);
	background-size: 100% 100%;
	/*background-color: red;*/
	position: absolute;
	top: 13%;
	left: 46%;
	/*border-radius: 50% 44%;*/
}
#SourceValue {
	width: 100%;
	height: 10%;
	top: 24%;
	position: absolute;
	/*font-family: digital-7;*/
	font-size: small;
	color: #00b7f0;
	text-align: center;
}
#Infection {
	width: 100%;
	height: 12%;
	position: absolute;
	top: 33%;
	/*font-family: digital-7;*/
	font-size: large;
	font-weight: 100;
	color: #00b7f0;
	text-align: center;
	/*background-color: #00a8c6;*/
}
#InfectionValue {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 46%;
	/*font-family: digital-7;*/
	font-size: small;
	color: #00b7f0;
	text-align: center;
	/*background-color: #00a8c6;*/
}
#UserAgent {
	width: 100%;
	height: 12%;
	position: absolute;
	top: 55%;
	/*font-family: digital-7;*/
	font-size: large;
	font-weight: 100;
	color: #00b7f0;
	text-align: center;
}
#UserAgentValue {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 68%;
	/*font-family: digital-7;*/
	font-size: small;
	color: #00b7f0;
	text-align: center;
}
#Port {
	width: 100%;
	height: 12%;
	position: absolute;
	top: 77%;
	/*font-family: digital-7;*/
	font-size: large;
	font-weight: 100;
	color: #00b7f0;
	text-align: center;
}
#PortValue {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 89%;
	/*font-family: digital-7;*/
	font-size: small;
	color: #00b7f0;
	text-align: center;
}
#tableDiv {
	width: 46%;

	/*height: 26%;*/
	position: absolute;
	/*top: 75%;*/
	bottom: 2%;
	left: 35%;
	/*height: 30%;*/
	border: 2px solid #00b7f0;
	border-radius: 10%;
}

#tableData{
	height: 120px;
}

ul {
	list-style-type: none;
	width:100%;
	padding-left: 0px;
}

#tableDiv .panel{
	margin-bottom: 0px;
	background-color: transparent;
}

#tableDiv .panel-heading{
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: 100;
	font-family: DigiGraphics;
	color: #00b7f0;
	font-size: 100%;
	border-bottom: 2px solid #00b7f0;
}

#tableDiv .panel-body{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 80%;
	font-family: DigiGraphics;
	color: #00b7f0;
}

@font-face { font-family: DigitalDismay; src: url('Font/Digital Dismay/Digital Dismay.otf'); }
@font-face { font-family: digital-7; src: url('Font/digital-7/digital-7.ttf'); }
@font-face { font-family: DIGITALDREAM; src: url('Font/DIGITALDREAM/DIGITALDREAM.ttf'); }
@font-face { font-family: DigiGraphics; src: url('Font/DigiGraphics/DigiGraphics.ttf'); }
@font-face { font-family: TickingTimebombBB; src: url('Font/TickingTimebombBB/TickingTimebombBB.ttf'); }
